.contentDetails {
  background: #fff;
  opacity: 0.8;
  border-radius: 1rem;
  margin-top: 1rem;

  padding: 1rem;

  header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    
    div {
      text-align: center;
    }
  }

  div.skills-and-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
  }

  div.container-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      max-width: 300px;
    }
  }

  div.container-hab {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}